<html>
<head>
<title>글보기</title>
</head>
  
<script language="javascript">

	function writeCheck() 
	{				
	    var form = document.modifyform;
	
	    if( !form.subject.value )
	    {
	        alert( "제목을 적어주세요" );
	        form.subject.focus();
	        return;
	    }
	    if( !form.memo.value )
	    {
	        alert( "내용을 적어주세요" );
	        form.memo.focus();
	        return;
	    }
	
	    
	    form.submit();
	}
	
	function boardlist()
	{
	    var s = "{{searchStr}}";
        
        if(s=="None")
            location.href = '/listSpecificPageWork?current_page={{current_page}}';
        else
            location.href = '/listSearchedSpecificPageWork?pageForView={{current_page}}&searchStr={{searchStr}}';	    
	}
   
</script>

<!--   
장고 1.2부터 post로 값을 보내면 이런 에러가 나오는 경우가 있는데,
CSRF 보안 때문에 추가됐다고 한다. 참고 

해결방법은 post form뒤에 { % csrf_token %}을 넣어주면 된다.

예) <form action="" method="post">{% csrf_token %}

또는

csrf보안 처리가 안된 python코드 안에 django.views.decorators.csrf.csrf_exempt를 import하고, @csrf_exempt로 데코레이션하면 된다.

예)
from django.views.decorators.csrf import csrf_exempt
...
@csrf_exempt
def foo:

결과는 똑같으니 뷰와 템플릿을 좀 더 분리하고 싶으면 후자를 쓰면된다.
-->

<table cellspacing = 0 cellpadding = 5 border = 1 width=500>
<form name=modifyform method=post action="/updateBoard/"> {% csrf_token %}    
    <input type=hidden name=memo_id  value="{{memo_id}}">    
    <input type=hidden name=current_page  value="{{current_page}} ">
    <input type=hidden name=searchStr  value="{{searchStr}} ">
                
    <tr><td><b>이름</b></td><td>{{ boardData.name }}<input type=hidden name=name size=50  maxlength=30 value="{{ boardData.name }}"></td><tr>
    <tr><td><b>이메일</b></td><td><input type=text name=mail size=50  maxlength=50 value="{{ boardData.mail }}"></td></tr>
    <tr><td><b>제목</b></td><td><input type=text name=subject size=50  maxlength=50 value="{{ boardData.subject }}"></td></tr>
    <tr><td><b>내용</b></td><td><textarea name=memo cols=50 rows=10>{{ boardData.memo }}</textarea></td></tr>
</form>        
</table>
 
<table  cellspacing = 0 cellpadding = 0 border = 0 width=500>
    <tr><td>
        <input type=button value="재등록" OnClick="javascript:writeCheck();">
        <input type=button value="목록" OnClick="javascript:boardlist()">        
    </td></tr>
</table>


</html>





