{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}

{% block head %}Welcome to Kookmin University Realtime Code Collaboration!{% endblock %}

<html>
	<head>
		<title>Welcome</title>
	</head>
</html>
{% block content %}
	<br><br>
    <font color="white"><h2><strong>Kookmin University</strong></font> 
    <font color="FF6600">Code Editor</h2></strong></font>
    <br>
    <font color="white"><h1><p>Welcome to</font>   
    <strong><font color="FF6600">{{ user.username }}</strong></p></h1></font>
    <br>  
    <font color="white"><h2><p>CLICK -> </font><strong><a href="/codeedit"><font color="FF0000">CodeEditor</a></strong></p></h2></font>
    <!-- <p>Also You can logout click <a href="/logout/">Here</a> to login page</p>
    <p>Also you can go to <a href="/codeedit">CodeEditor</a> </p>
    <p>Also you can go to <a href="/chatroom">Chatroom</a> </p> -->
{% endblock %}

