{% load staticfiles %}

<html>

<head>
    <title>Chat Panel</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/chat.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="chat-body" class="panel panel-default">
        <!-- <div class="panel-heading">Chat Box</div> -->
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item">{{ obj.message }}</li>
                    {% else %}
                        <li class="text-left list-group-item">{{ obj.message }}</li>
                    {% endif %}
                {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>

    <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
</body>

<script src="/static/js/chat.js"></script>

<!-- =========================================2016/5/20 Add Top Bar=======================================  --> 

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                   
                </button>
                <a class="navbar-brand page-scroll" href="http://kookmin.ac.kr">Kookmin.Univ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/home">Main</a>
                    </li>
                    <li>
                        <a href='/login' class="page-scroll" href="/sign in">Sign in</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/codeedit">Code Edit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/chatroom">Chat</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Board">Board</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</html>
